<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Artists</title>
</head>
<body>

<h1>Artists</h1>
<a href="/player">Back to Player</a>

<div id="artists"></div>

<script>
    fetch("/api/artists")
        .then(r => r.json())
        .then(data => {
            const block = document.getElementById("artists");
            data.forEach(ar => {
                block.innerHTML += `<p>${ar.name}</p>`;
            });
        });
</script>

</body>
</html>